@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Barlow", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.y-axis-scrollbar {
  overflow-y: auto;
}
.y-axis-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.y-axis-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ca7835, #e29562);
  border-radius: 2px;
  height: 10px;
}

._card {
  max-width: 500px;
}

@media (max-width: 639px) and (min-width: 400px) {
  ._chip-parent {
    display: flex;
    gap: 1rem;
  }

  ._chip {
    font-size: 0.8rem;
  }
}

@media (max-width: 399px) and (min-width: 346px) {
  ._chip {
    font-size: 0.7rem;
  }
}

@media (max-width: 345px) and (min-width: 310px) {
  ._chip {
    font-size: 0.6rem;
  }

  ._flex-item-card p {
    font-size: 0.8rem;
  }
  ._flex-item-profile p{
    font-size: 0.8rem;
  }

  ._credentials p {
    font-size: 0.8rem;
  }

  ._overview {
    font-size: 1.1rem;
  }

  ._overview-sub {
    font-size: 0.8rem;
  }

  ._reference {
    font-size: 1.1rem;
  }
}
.border-bottom {
  border-bottom: 1px solid #ffffff14;
}
.border-top {
  border-top: 1px solid #ffffff14;
}



@media (max-width: 380px) and (min-width: 310px) {
  ._flex-item-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
  }
 

  ._child-item-card {
    width: 100%;
  }
}
